extends ../Layout/index

block content
  script
    include ../../node_modules/showdown/dist/showdown.js
    include ../../node_modules/prismjs/prism.js
  style
    include index.css
    include ../../node_modules/prismjs/themes/prism-tomorrow.css

  .App-post
    hgroup
      .App-text-1=post.title
      .App-text-5='Updated at ' + post.updated_at
      each label in post.labels
        .App-label(style={ "background-color": `#${label.color}` })=label.name

    .App-markdown=post.body

  script.
    const md = document.getElementsByClassName('App-markdown')[0]

    const converter = new showdown.Converter()

    md.innerHTML = converter.makeHtml(md.childNodes[0].nodeValue)
