extends ../Layout/index

block content
  style
    include index.css

  .App-welcome
    - function random(min, max) { return Math.floor(Math.random() * (max - min + 1)) + min }
    - const i = random(0, wordsOfToday.length - 1)
    h4= wordsOfToday[i]
    a.App-welcome-action(href="posts") 开始阅读
  